header, section, footer, aside, nav, main, article, figure {
    display: block; 
}
body{
	background-color: lightblue;
	border: 1px solid black;
	padding: 2%;
	margin: 3%;
	text-align: justify;
}

h2{
	color: fuchsia;
	font-family: courier;
    font-size: 150%;
}

p{
	color: green;
}
#p1{
	color: blue;
}
p.error{
    color: red;
}
a:link{
	color:green; 
	background-color:transparent;
	text-decoration:none
}
a:visited{
	color:pink;
	background-color:transparent;
	text-decoration:none
}
a:hover{
	color:red;
	background-color:transparent; 
	text-decoration:underline
}
a:active{
	color:yellow;
	background-color:transparent;
	text-decoration:underline
}
img{
	border: 0;
}
table, th, td
{
	border:1px solid black;
	border-collapse: collapse;
}
th, td{
	padding: 5px;
	text-align: left;
}
table{
	border-spacing: 2px;
}
ul{
	text-align: left;
	list-style-type: circle;
	/*display: inline;*/
}

ol{
	text-align: left;
}
dl{
	text-align: left;
}
ul#menu li{
	display: inline;
	text-align: center;
	list-style-type: none;
	margin: 50 50 50 50;
}
ul#menu
{
	background-color: white;
	padding: 20px;
	margin: 0;
}
div.texto{
	background-color: orange;
}
iframe{
	border:none;
}
header{
	background-color: black;
	color:white;
	padding: 5px;
	margin: 0;
}